@using StudentDemo.Areas.MST_Branch.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MST_BranchModel
<section class="section" style="margin-top: 100px;">
    <!-- Add margin-top here -->


    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card shadow border-0 mt-4">
                <div class="card-header ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-black py-2">Add/Edit Branch</h2>
                        </div>
                    </div>
                </div>
    <div class="card-body p-4">
        <form method="post" asp-controller="MST_Branch" asp-action="Save" class="row">
            <div class="border p-3 ">
                @*@<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="BranchID" hidden />
                    <input type="text" class="form-control border-0 shadow" asp-for="BranchName" />
                    <label class="ms-2" asp-for="BranchName"></label>
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="BranchCode" />
                    <label class="ms-2" asp-for="BranchCode"></label>
                    <span asp-validation-for="BranchCode" class="text-danger"></span>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="MST_Branch" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                    </div>
                </div>


            </div>
        </form>

    </div>

</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
