@using StudentDemo.Areas.MST_Student.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MST_StudentModel
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-white py-2">Add Student</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-controller="MST_Student" asp-action="Save" class="row" enctype="multipart/form-data">
            <div class="border p-3 ">
                <div class="form-floating py-2 col-12">
                    <select class="form-control border-0 shadow" asp-for="BranchID" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))">
                        <option value="">Select Branch</option>
                    </select>

                    <label class="ms-2">Branch Name</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <select class="form-control border-0 shadow" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                        <option value="">Select City</option>
                    </select>

                    <label class="ms-2">City Name</label>
                </div>
                @*@<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="StudentID" hidden />
                    <input asp-for="PhotoPath" hidden/>
                    <input type="text" class="form-control border-0 shadow" asp-for="StudentName" />
                    <label class="ms-2" asp-for="StudentName"></label>
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="MobileNoStudent" />
                    <label class="ms-2" asp-for="MobileNoStudent"></label>
                    <span asp-validation-for="MobileNoStudent" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="MobileNoFather" />
                    <label class="ms-2" asp-for="MobileNoFather"></label>
                    <span asp-validation-for="MobileNoFather" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="Email" />
                    <label class="ms-2" asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="Gender" />
                    <label class="ms-2" asp-for="Gender"></label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="datetime" class="form-control border-0 shadow" asp-for="BirthDate" />
                    <label class="ms-2" asp-for="BirthDate"></label>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    
                    <input type="radio" id="radioTrue" name="isActive" value="true" asp-for="IsActive">True</input>
                    <input type="radio" id="radioFalse" name="isActive" value="false" asp-for="IsActive">False</input>
                    <label class="ms-2" asp-for="IsActive"></label>

                    

                    
                    
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="password" class="form-control border-0 shadow" asp-for="Password" />
                    <label class="ms-2" asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="text" class="form-control border-0 shadow" asp-for="age" />
                    <label class="ms-2" asp-for="age"></label>
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="datetime" class="form-control border-0 shadow" asp-for="Address" />
                    <label class="ms-2" asp-for="Address"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class=" form-floating py-2 col-12">
                    <input type="file" class="form-control border-0 shadow" asp-for="File" />
                    <label class="ms-2" asp-for="PhotoPath"></label>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>


                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="MST_Student" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                    </div>
                </div>
                
                


            </div>
        </form>

    </div>

</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    

}

