@using StudentDemo.Areas.LOC_Country.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LOC_CountryModel
<section class="section" style="margin-top: 100px;">
    <!-- Add margin-top here -->


    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card shadow border-0 mt-4">
                <div class="card-header ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-black py-2">Add/Edit Country</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    
                    <form method="post" asp-controller="LOC_Country" asp-action="Save" class="row g-3">
                        <div class="col-lg-12">
                            <!-- Change col-lg-6 to col-lg-12 -->
                            <div class="form-floating py-2">
                                <input asp-for="CountryID" hidden />
                                <input type="text" class="form-control" asp-for="CountryName" />
                                <label asp-for="CountryName">Country Name</label>
                                <span asp-validation-for="CountryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- Change col-lg-6 to col-lg-12 -->
                            <div class="form-floating py-2">
                                <input type="text" class="form-control" asp-for="CountryCode" />
                                <label asp-for="CountryCode">Country Code</label>
                                <span asp-validation-for="CountryCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Save</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="LOC_Country" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
